<div class="mat-typography app-frame mat-app-background">

  <mat-toolbar>
    <span>課表連結整理</span>
  </mat-toolbar>

  <div class="center">
    <app-countdown></app-countdown>
  </div>

  <div class="center toolbox">
    <app-toolbox
      [class_1]="class_1"
      [class_2]="class_2">
    </app-toolbox>
  </div>

  <div class="center">
    <app-time-table
      [table]="table"
      [classes]="classes"
      [class_length]="class_length"
      [weekday]="weekday"
      [class_num]="class_num">
    </app-time-table>
  </div>

</div>
