<table>
  <tr>
    <th></th>
    <th *ngFor="let w of weekdays" class="mat-display-1">{{w}}</th>
  </tr>
  <tr *ngFor="let r of table; let i = index">
    <td class="mat-display-1">{{i+1}}</td>
    <ng-container *ngFor="let c of r; let j = index">
      <td *ngIf="class_length[i][j] >= 0"
        [attr.rowspan]="class_length[i][j]+1">
        <a *ngIf="get_class(c)[1]"
          mat-button
          [color]="(i == class_num && j == weekday)?'primary':''"
          [href]="get_class(c)[1]"
          target="_blank">
          {{get_class(c)[0]}}
        </a>
        <button *ngIf="!get_class(c)[1]"
          mat-button
          [color]="(i == class_num && j == weekday)?'primary':''">
          {{get_class(c)[0]}}
        </button>
      </td>
    </ng-container>
  </tr>
</table>
